* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    border: none;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    width: 960px;
    margin: 50px auto;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: bold;
    color: black;
}

body, h1, h2, h3, h4, input, button, textarea {
    background: none;
}

textarea {
    resize: none;
}

a {
    text-decoration: none;
}

ol, ul, li {
    list-style: none;
}

label, input {
    cursor: pointer;
}